In [361]:
import pandas as pd
import re
import numpy as np
import nltk 
import math
from nltk.corpus import stopwords 

stop_words = set(stopwords.words('english'))
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Siddh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [362]:
ds = pd.read_csv("db.csv", header=None)
ds.columns = ["Title", "Company", "Location", "Type", "Link"]

ds.head()

,Title,Company,Location,Type,Link
0,Teaching Faculty,SONAM TUITIONS,"Kalyan, Maharashtra",Flexible shift,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1,Norwegian content writer required,Great Ponton,"Mumbai, Maharashtra",Day shift,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2,MBA (Marketing),Astrotel Pvt Ltd,"Kanpur, Uttar Pradesh",Full-time,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3,Visa counsellor,VISA SPOT,"Mohali, Punjab",Full-time,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4,Scrum Master 4,Comcast,"Chennai, Tamil Nadu",Weekend availability,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...

In [363]:
sample = pd.read_csv("naukri.csv")

sample.head()

,job_title,role,industry
0,Digital Media Planner,Advertising,"Advertising, PR, MR, Event Management"
1,Online Bidding Executive,Retail Sales,"IT-Software, Software Services"
2,Trainee Research/ Research Executive- Hi- Tec...,R&D,"Recruitment, Staffing"
3,Technical Support,Admin/Maintenance/Security/Datawarehousing,"IT-Software, Software Services"
4,Software Test Engineer -hyderabad,Programming & Design,"IT-Software, Software Services"

In [364]:
sample = sample.dropna()
sample.industry = sample.industry.apply(lambda x: re.split(',| ', x)[0])
sample.head()

,job_title,role,industry
0,Digital Media Planner,Advertising,Advertising
1,Online Bidding Executive,Retail Sales,IT-Software
2,Trainee Research/ Research Executive- Hi- Tec...,R&D,Recruitment
3,Technical Support,Admin/Maintenance/Security/Datawarehousing,IT-Software
4,Software Test Engineer -hyderabad,Programming & Design,IT-Software

In [365]:
industry_counts = sample['industry'].value_counts()

popular_industries = industry_counts[industry_counts>5]

popular_industries_list = popular_industries.index.tolist()

sample = sample[sample['industry'].isin(popular_industries_list)]

sample.head()

,job_title,role,industry
0,Digital Media Planner,Advertising,Advertising
1,Online Bidding Executive,Retail Sales,IT-Software
2,Trainee Research/ Research Executive- Hi- Tec...,R&D,Recruitment
3,Technical Support,Admin/Maintenance/Security/Datawarehousing,IT-Software
4,Software Test Engineer -hyderabad,Programming & Design,IT-Software

In [366]:
sample['industry'] = sample['industry'].apply(lambda x: x.replace('-', ' '))
sample.head()

,job_title,role,industry
0,Digital Media Planner,Advertising,Advertising
1,Online Bidding Executive,Retail Sales,IT Software
2,Trainee Research/ Research Executive- Hi- Tec...,R&D,Recruitment
3,Technical Support,Admin/Maintenance/Security/Datawarehousing,IT Software
4,Software Test Engineer -hyderabad,Programming & Design,IT Software

In [367]:
import sklearn.metrics as mt

from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [368]:
X = sample["job_title"]
Y = sample["industry"]

from sklearn.model_selection import train_test_split as tt
X_train, X_test, Y_train, Y_test = tt(X, Y, test_size=0.2, random_state=100)

In [369]:
vec = CountVectorizer(stop_words='english')
vec.fit(X_train)

CountVectorizer(stop_words='english')

In [370]:
X_train_transformed = vec.transform(X_train)
X_test_transformed = vec.transform(X_test)

In [371]:
model = MultinomialNB()
model.fit(X_train_transformed, Y_train)

MultinomialNB()

In [372]:
y_pred = model.predict(X_test_transformed)
y_pred_prob = model.predict_proba(X_test_transformed)

In [373]:
print(mt.classification_report(Y_test, y_pred, zero_division=1))

                precision    recall  f1-score   support

    Accounting       0.40      0.05      0.09        80
   Advertising       0.50      0.05      0.09        97
   Agriculture       1.00      0.00      0.00        10
     Animation       1.00      0.00      0.00         2
  Architecture       1.00      0.00      0.00        25
    Automobile       0.53      0.09      0.16        96
      Aviation       1.00      0.00      0.00         5
           BPO       0.56      0.60      0.58       377
       Banking       0.42      0.48      0.45       330
      Ceramics       1.00      0.00      0.00         5
     Chemicals       0.50      0.04      0.08        23
  Construction       0.45      0.08      0.13       117
      Consumer       1.00      0.00      0.00        30
       Courier       1.00      0.00      0.00        33
     Education       0.67      0.40      0.50       226
   Electricals       1.00      0.00      0.00        22
        Export       1.00      0.00      0.00         7
          FMCG       0.00      0.00      0.00        60
      Facility       1.00      0.00      0.00         8
   Fertilizers       1.00      0.00      0.00         3
          Food       1.00      0.00      0.00         7
       Fresher       1.00      0.00      0.00         2
          Gems       1.00      0.00      0.00         2
    Government       1.00      0.00      0.00         1
          Heat       1.00      0.00      0.00         5
   IT Hardware       0.00      0.00      0.00        50
   IT Software       0.55      0.91      0.68      2133
    Industrial       0.00      0.00      0.00        93
     Insurance       0.81      0.33      0.47        64
      Internet       0.50      0.03      0.05       111
          Iron       1.00      0.00      0.00         5
           KPO       1.00      0.00      0.00        42
         Legal       1.00      0.00      0.00         2
         Media       0.40      0.02      0.04        95
       Medical       0.64      0.36      0.46       123
        Mining       1.00      0.00      0.00         1
           NGO       1.00      0.00      0.00        13
        Office       1.00      0.00      0.00        10
           Oil       0.67      0.04      0.08        50
         Other       1.00      0.00      0.00        40
        Pharma       0.36      0.05      0.09        96
      Printing       1.00      0.00      0.00        10
    Publishing       1.00      0.00      0.00        15
          Real       0.46      0.08      0.14        71
   Recruitment       0.19      0.28      0.23       536
        Retail       0.58      0.12      0.21        56
      Security       1.00      0.00      0.00         7
Semiconductors       0.00      0.00      0.00        33
      Shipping       1.00      0.31      0.47        13
      Strategy       1.00      0.00      0.00        94
        Telcom       1.00      0.02      0.04        44
       Telecom       1.00      0.00      0.00         4
      Textiles       0.50      0.04      0.07        27
        Travel       0.88      0.30      0.44        98
         Tyres       1.00      0.00      0.00         1
         Water       1.00      0.00      0.00        10
      Wellness       1.00      0.00      0.00        11

      accuracy                           0.49      5531
     macro avg       0.76      0.08      0.10      5531
  weighted avg       0.53      0.49      0.41      5531

In [374]:
X_test_transformed = vec.transform(ds.Title)

In [375]:
ds

,Title,Company,Location,Type,Link
0,Teaching Faculty,SONAM TUITIONS,"Kalyan, Maharashtra",Flexible shift,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
1,Norwegian content writer required,Great Ponton,"Mumbai, Maharashtra",Day shift,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
2,MBA (Marketing),Astrotel Pvt Ltd,"Kanpur, Uttar Pradesh",Full-time,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
3,Visa counsellor,VISA SPOT,"Mohali, Punjab",Full-time,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
4,Scrum Master 4,Comcast,"Chennai, Tamil Nadu",Weekend availability,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...
...,...,...,...,...,...
3952,EY - Director - Cyber Security - Government Ad...,EY India,Delhi,Regular,https://www.shine.com/jobs/ey-director-cyber-s...
3953,SafexPay - Head - Technology,Paygate India Private Limited,Mumbai City,Regular,https://www.shine.com/jobs/safexpay-head-techn...
3954,Process Developer - Accounts Payable,Genpact India Pvt. Ltd.,Kolkata,Regular,https://www.shine.com/jobs/process-developer-a...
3955,Continuum Green Energy - Company Secretary,Continuum Green Energy (India) Pvt ...,Mumbai City,Regular,https://www.shine.com/jobs/continuum-green-ene...
3956,Senior Consultant - SAP TRM - Government Advisory,EY India,Delhi,Regular,https://www.shine.com/jobs/senior-consultant-s...

In [376]:
roles = model.predict(X_test_transformed)

ds["role"] = roles 

ds

,Title,Company,Location,Type,Link,role
0,Teaching Faculty,SONAM TUITIONS,"Kalyan, Maharashtra",Flexible shift,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Education
1,Norwegian content writer required,Great Ponton,"Mumbai, Maharashtra",Day shift,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,IT Software
2,MBA (Marketing),Astrotel Pvt Ltd,"Kanpur, Uttar Pradesh",Full-time,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,IT Software
3,Visa counsellor,VISA SPOT,"Mohali, Punjab",Full-time,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,Education
4,Scrum Master 4,Comcast,"Chennai, Tamil Nadu",Weekend availability,https://in.indeed.com/pagead/clk?mo=r&ad=-6NYl...,IT Software
...,...,...,...,...,...,...
3952,EY - Director - Cyber Security - Government Ad...,EY India,Delhi,Regular,https://www.shine.com/jobs/ey-director-cyber-s...,Banking
3953,SafexPay - Head - Technology,Paygate India Private Limited,Mumbai City,Regular,https://www.shine.com/jobs/safexpay-head-techn...,IT Software
3954,Process Developer - Accounts Payable,Genpact India Pvt. Ltd.,Kolkata,Regular,https://www.shine.com/jobs/process-developer-a...,IT Software
3955,Continuum Green Energy - Company Secretary,Continuum Green Energy (India) Pvt ...,Mumbai City,Regular,https://www.shine.com/jobs/continuum-green-ene...,Recruitment
3956,Senior Consultant - SAP TRM - Government Advisory,EY India,Delhi,Regular,https://www.shine.com/jobs/senior-consultant-s...,IT Software

In [377]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [378]:
ds['combined'] = ds['Title'] + ' ' + ds['role'] + ' ' + ds['Location']

In [379]:
tfIdfVectorizer=TfidfVectorizer(use_idf=True)
tfIdf = tfIdfVectorizer.fit_transform(ds['combined'].tolist())

In [380]:
#sample user

inputs = {
    'Title': ['Data Scientist', 'Software Engineer', 'Machine Learning'],
    'Location': 'Chennai'
}

usertitle = " ".join(inputs['Title'])

urole = []
for i in inputs['Title']:
    utitle = vec.transform([i])
    urole.append("".join(model.predict(utitle).tolist()))

urole = list(set(urole))

userrole = " ".join(urole)
    
user = usertitle + ' ' + inputs['Location'] + ' ' + userrole

In [381]:
input_vector = tfIdfVectorizer.transform([user])
cosine_similarities = cosine_similarity(input_vector, tfIdf).flatten()

In [382]:
def jaccard(a, b):
    intersection = a.intersection(b)
    union = a.union(b)

    return len(intersection)/len(union)

In [383]:
jaccard_sim = []
for doc in ds['combined'].tolist():
    jaccard_sim.append(jaccard(set(doc.lower().split()), set(user.lower().split())))

cosine_similarities = cosine_similarities + jaccard_sim

In [384]:
most_similar_indices = cosine_similarities.argsort()[::-1]

In [386]:
idx = 0
for index in most_similar_indices:
    idx+=1
    print("Title: '{}' '{}' '{}' \t Similarity: {}".format(ds.loc[index, 'Title'], ds.loc[index, 'Company'], ds.loc[index, 'Location'], cosine_similarities[index]))
    if idx > 5:
        break

Title: 'Data Annotator (Machine Learning)' 'Spritle Software' 'Chennai, Tamil Nadu' 	 Similarity: 0.8876332127577562
Title: 'Data Scientist' 'Volvo Group' 'Bengaluru, Karnataka, India' 	 Similarity: 0.8607966052115333
Title: 'Principal Data Scientist' 'Recruise India Consulting Pvt Ltd' 'Bangalore' 	 Similarity: 0.8571313782761292
Title: 'Senior Software Engineer' 'OEC INDIA SERVICES PRIVATE LIMITED' 'Chennai' 	 Similarity: 0.809709668761337
Title: 'Data Engineer' 'UBS Securities India Private Limite...' 'Pune' 	 Similarity: 0.7987186801023131
Title: 'Data Scientist (Remote)' 'CES' 'Hyderabad, Telangana, India' 	 Similarity: 0.7937726575124225